InboxManager.json
{
  "name": "Inbox Manager",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -736,
        -16
      ],
      "id": "b1828bc7-2a2f-4433-9be2-7602967fb707",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.subject }}\nEmail body: {{ $json.text }}\nSender email: {{ $json.from.value[0].address }} \nSender name: {{ $json.from.value[0].name }}",
        "categories": {
          "categories": [
            {
              "category": "PRIORITY",
              "description": "Classify any message as PRIORITY if it seems important or Classify any message as PRIORITY where the sender's name or email matches any of the following:  contact@techniverge.ca -  notifications@github.com Classify any message as PRIORITY where the subject contains the keyword 'Louai-PRIORITY'' Return ONLY a raw JSON object. Do not include markdown formatting, backticks, or any introductory text."
            },
            {
              "category": "Newsletter",
              "description": "Classify any message as PRIORITY where the sender's name or email matches any of the following: - hello@alchemy.com - mail@iconscout.com  - hi@mail.cursor.com - me@louaialsabbagh.tech \nClassify any message that you think sounds like a newsletter\nClassify any message as Newletter where the subject contains the keywords 'LOUAI-NEWSLETTER'. Return ONLY a raw JSON object. Do not include markdown formatting, backticks, or any introductory text."
            },
            {
              "category": "Subscriptions ",
              "description": "Classify any message as Subscriptions if its a Subscriptions or Classify any message as Subscriptions  where the sender's name or email matches any of the following: - hello@alchemy.com - mail@iconscout.com  - hi@mail.cursor.com - me@louaialsabbagh.tech Classify any message as Subscriptions  where the subject contains the keywords 'Subscriptions'  Return ONLY a raw JSON object. Do not include markdown formatting, backticks, or any introductory text."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -448,
        -32
      ],
      "id": "36358871-9419-4dda-9f82-1d794c74611b",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -448,
        240
      ],
      "id": "750d2895-c207-402a-b9af-f6584a607af2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_530411344440719247"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        -160
      ],
      "id": "41f70e3f-4335-4e11-a5b5-eaeb665c49df",
      "name": "Priority",
      "webhookId": "21c0a959-7b5d-4adf-b90f-1381bb3acebc",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_2775626281087406640"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        -16
      ],
      "id": "83a22ff5-56f4-4cc8-b505-d84455d62e90",
      "name": "Newsletter",
      "webhookId": "21c0a959-7b5d-4adf-b90f-1381bb3acebc",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4124267566759785123"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        144
      ],
      "id": "3396bf8d-f4a1-4897-801f-f8fa63d6e85e",
      "name": "Subscriptions",
      "webhookId": "21c0a959-7b5d-4adf-b90f-1381bb3acebc",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        240,
        -16
      ],
      "id": "c22f8e7a-aeec-4e4e-a488-c5c812610b85",
      "name": "Remove label from message",
      "webhookId": "2fde25ee-da65-48a1-951c-7668c7d0198d",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.Subject }}\nEmail body: {{ $json.snippet }}\nSender: {{ $json.From }}\n",
        "categories": {
          "categories": [
            {
              "category": "PRIORITY",
              "description": "Classify any message as PRIORITY if it seems important or Classify any message as PRIORITY where the sender's name or email matches any of the following:  contact@techniverge.ca -  notifications@github.com Classify any message as PRIORITY where the subject contains the keyword 'Louai-PRIORITY'"
            },
            {
              "category": "Newsletter",
              "description": "Classify any message as PRIORITY where the sender's name or email matches any of the following: - hello@alchemy.com - mail@iconscout.com  - hi@mail.cursor.com - me@louaialsabbagh.tech \nClassify any message that you think sounds like a newsletter\nClassify any message as Newsletter where the subject contains the keywords 'LOUAI-NEWSLETTER'. "
            },
            {
              "category": "Subscriptions ",
              "description": "Classify any message as Subscriptions if its a Subscriptions or Classify any message as Subscriptions  where the sender's name or email matches any of the following: - hello@alchemy.com - mail@iconscout.com  - hi@mail.cursor.com - me@louaialsabbagh.tech Classify any message as Subscriptions  where the subject contains the keywords 'Subscriptions'  "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1088,
        -32
      ],
      "id": "a1846185-cc47-439d-b5ee-fdff5783f7d5",
      "name": "Text Classifier1"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_530411344440719247"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1504,
        -160
      ],
      "id": "3dd5262d-9069-4c79-8693-49ed1438e1dd",
      "name": "Priority1",
      "webhookId": "21c0a959-7b5d-4adf-b90f-1381bb3acebc",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_2775626281087406640"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1504,
        -16
      ],
      "id": "2a08f50d-60a6-437c-98c7-75615d274377",
      "name": "Newsletter1",
      "webhookId": "21c0a959-7b5d-4adf-b90f-1381bb3acebc",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4124267566759785123"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1504,
        144
      ],
      "id": "c71e7d61-3710-48a3-ad58-e1ba582a2a19",
      "name": "Subscriptions1",
      "webhookId": "21c0a959-7b5d-4adf-b90f-1381bb3acebc",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1776,
        -16
      ],
      "id": "b27072d1-35f3-49d2-a163-a04eac9f6521",
      "name": "Remove label from message1",
      "webhookId": "2fde25ee-da65-48a1-951c-7668c7d0198d",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        688,
        -16
      ],
      "id": "451d73a1-5c9b-426f-86fe-e1cfca4c68c7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 12,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        -16
      ],
      "id": "c8214bc9-b3de-4cb3-9d73-0363d416182e",
      "name": "Get many messages",
      "webhookId": "4b6782d0-e679-4fc6-a856-1273b7ada5da",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1088,
        256
      ],
      "id": "6214e92d-0595-4add-890c-304d83e6a73c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "credential_placeholder"
        }
      }
    },
    {
      "parameters": {
        "content": "## Auto Categorize New Emails\nAssign labels to each email to categorize and keep inbox organized",
        "height": 800,
        "width": 1344,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -320
      ],
      "typeVersion": 1,
      "id": "172d516c-4be9-4357-9205-bdbfcde30c57",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Auto Categorize Existing Emails\nAssign labels to each email to categorize and keep inbox organized",
        "height": 800,
        "width": 1584,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -320
      ],
      "typeVersion": 1,
      "id": "623049bc-048d-4c3b-a633-bdc66a02caa0",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter": {
      "main": [
        [
          {
            "node": "Remove label from message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier1": {
      "main": [
        [
          {
            "node": "Priority1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Subscriptions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter1": {
      "main": [
        [
          {
            "node": "Remove label from message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Text Classifier1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "320e82c8-ca22-4817-b348-da944108b002",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07cda29fb867e1e47c4fc8cd16c697349e0b38c28dab5984d569241e55fcfaf7"
  },
  "id": "eKXHdMxNq9vIe0ek",
  "tags": []
}